<% include partials/header %>
    <h1 class="text-center">Home</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <ul>
                    <% for (post of posts) { %>
                    <li class="list-group-item">
                        <div class="lead">
                            <div class="text-right">
                                <a href="/n/<%= post.subreddit %>">
                                    <%= post.subreddit %>
                                </a>
                            </div>
                            <a href="/posts/<%=post.id%>" class='lead'>
                                <%= post.title%>
                            </a>
                        </div>
                        <a href="<%= post.url %>" target="_blank">                                
                            <%= post.url %>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
<% include partials/footer %>


